/* This design by Kristof Michiels - Mobile first meaning other screens are cathered for in separate media queries */
html { -webkit-text-size-adjust: 100%;
  height: auto;/* Prevent font scaling in landscape while allowing user zoom */ }

body {
  font-size: 90%;
  font-family: "helvetica";
  color: #1B1B1B;


}

/*main
-------------------------------*/
main{
height: auto;
}

.berekenhaltemain{
  background-color: #4d90fe;
  height: 100%;
}

.zoeklijnmain{
  background-color: #EDAD3B; ;
  height: 100%;
}


/* inlogscherm
-------------------------------*/

.enter {
    height: 100vh;
    position: relative;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #E08113;
}

.wrapperhalte{
  height: auto;
  background-color: #73A19D;
}

.wrapperlijnen{
  height: auto;
  background-color: #EDAD3B;
}

.wrapperverkoop{
  height: auto;
  background-color: #BB3C2C;
}
.inlogscherm {
  background-color: white;
  width: 60%;
  height: 40vh;
  padding: 25px;
  position:absolute;
  margin-top: 30%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.regi-form, .aanm-form, .log {
  width: 60%;
  height: 40vh;
  padding: 25px;
  position: absolute;
  margin-top: 30%;
  top: 51%;
  left: 51%;
  transform: translate(-45%, -50%);
}

.log {
    margin-top: 36%;
}

.log input[type="button"] {
   border: none;
  }

.forman{
  margin-top: 123px;;
}

.slotic {
    width: 13vw;
    position: absolute;
    margin: 14.6% 0 0 -11%;
}

.accicoon {
  width: 13vw;
  position: absolute;
  margin: -6.1% 0 0 -11%;
}

.mailicoon {
  width: 13vw;
  position: absolute;
  margin: 35% 0 0 -11%;
}


/*labels
----------------------------------*/

#regi {
  color: white;
  background-color: #CD5700;
  border-radius: 4px;
  font-size: 1.7em;
  width: 100%;
  margin: 19% 0 0 -9%;
}

#aanminlog{
  color: white;
  background-color: #CD5700;
  border-radius: 4px;
  font-size: 1.7em;
  width: 100%;
  margin: 10% 0 0 -17px;
}

#aanm {
  color: white;
  background-color: #CD5700;
  border-radius: 4px;
  font-size: 1.7em;
  width: 100%;
  margin: 14% 0 0 -17px;
}

#aanmel{
  color: white;
  background-color: #CD5700;
  border-radius: 4px;
  font-size: 1.7em;
  width: 100%;
  margin: 25% 0 0 -17px;
  border-color: transparent;
}

#gebruiker {
  font-size: 1.2em;
  border-radius: 4px;
  background-color: #EE9D00;
  width: 84%;
  height: 6vh;
  border: 1px solid white;
  margin: -8% 0 0 8px;
}

#w8w {
  font-size: 1.2em;
  background-color: #EE9D00;
  width: 84%;
  border: 1px solid white;
  border-radius: 4px;
  height: 6vh;
  margin: 6% 0 0 8px;
}

#mail {
  font-size: 1.2em;
  background-color: #EE9D00;
  width:84%;
  height: 6vh;
  border: 1px solid white;
  border-radius: 4px;
  margin: 6% 0 0 8px;
}


  input::placeholder {
        text-align: center;
        color: white;
    }

  input{
    text-align: center;

  }


#vnaam{

}


label[for="fnaam"]{}
#vnaam{
  height: 34px;
  width: 70%;
  margin-left: 14%;
  font-size: 20px;
  margin-bottom: 10px;}


#anaam{

}

label[for="fnaam"]{}
#fnaam{
  height: 34px;
  width: 70%;
  margin-left: 14%;
  font-size: 20px;
  margin-bottom: 10px;}



/*opmaak tekst
---------------------------------*/

a{
  text-decoration: none;
  color:white;
}


h2{
  font-weight: bold;
  font-size: 1.5em;
  margin:24px auto 0;
  text-align: center;
  padding-top: 14px;
}

h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  position: absolute;
  margin: 37px 0 0 91px;
  width: 42%;
  text-align: center;
  padding-top: 14px;
}

.parameter1{
  font-weight: bold;
}

.datatitle{
  font-family: Helvetica;
  font-size: 20px;
  text-transform: uppercase;
  color: #EDAD3B;
}
.datanumber{
  padding-bottom: 10px;
}

.halteomschrijving{
  text-align: center;
}

.lijnvar{
margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
  text-align: center;
}

.subtext{
  text-align: center;
  margin-top: 15px;
  font-family: Helvetica;

}

/*bio-scherm
-----------------------------------------*/

.optie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  height: 320px;
  width: 270px;
  background-color: white;
  z-index: 5;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.optie-grid a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.routeplanner {
  grid-column: 1;
  grid-row: 1;
  background-color: rgb(53, 73, 94);
  margin: 10px 5px 5px 10px;
}

.haltes {
  grid-column: 2;
  grid-row: 1;
  background-color: rgb(114, 160, 157);
  margin: 10px 10px 5px 5px;
}

.lijnen {
  grid-column: 1;
  grid-row: 2;
  background-color: rgb(237, 173, 59);
  margin: 5px 5px 10px 10px;
}

.verkooppunten {
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(187, 60, 44);
  margin: 5px 10px 10px 5px;
}

.optie-item img {
  width: 100%;
}

.optie-item {
  position: relative;
  text-align: center;
  height: 90%;
}

.optie-item p {
  position: absolute;
  bottom: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

/*logo van de lijn
------------------------------------*/

.delijn-logo {
  width: 50px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}

/*routeplanner scherm
-------------------------------------*/

.route-grid, .halte-grid, .lijn-grid, .verkooppunt-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px 50px 50px;
  grid-row-gap: 15px;
  margin: auto;
  height: 260px;
  width: 220px;
  z-index: 5;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.verkooppunt-grid-results{
  position: relative;
  height: auto;
  background-color: white;
  padding: 15px;
  width: 67.8%;
  margin: 0 auto;
  margin-left: 3.25em;
  margin-top: -32em;
  z-index: 9999;
}

.berekenhalte-grid-results{
  position: relative;
  height: auto;
  background-color: white;
  padding: 15px;
  width: 68%;
  margin: 0 auto;
  margin-left: 3.25em;
  margin-top: -32em;
  z-index: 9999;
}

.zoeklijn-grid-results{
  position: relative;
  height: auto;
  background-color: white;
  padding: 15px;
  width: 67.8%;
  margin: 0 auto;
  margin-left: 3.3em;
  margin-top: -32em;
  z-index: 9999;
}



.vertrekpunt, .naam {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.vertrekpunt-icon, .zoek-icon {
  grid-column: 1;
  grid-row: 1;
  background-color: rgb(205, 87, 0);
  width: 100%;
  border-radius: 5px;
  z-index: 10;
}

.zoek-icon{
  padding: 1em;
  width: 43%;
}

.bestemming {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}

.bestemming-icon {
  grid-column: 1;
  grid-row: 2;
  background-color: rgb(205, 87, 0);
  width: 100%;
  border-radius: 5px;
  z-index: 10;
}

.berekenroute {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 3;
}

.zoeken{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}

.route-form input, .halte-form input, .lijn-form input, .verkooppunt-form input{
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(238, 157, 0);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 0px;
}

.route-form input[type="button"], .halte-form input[type="button"], .lijn-form input[type="button"], .verkooppunt-form input[type="button"] {
  background-color: rgb(205, 87, 0);
}

#btnsubmit {
  background-color: rgb(205, 87, 0);
}

/*
Map styling
*/

.mapwrapper {
  position: absolute;
  z-index: 10;
  width: 255px;
  height: 370px;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 15px 30px 15px;
  background-color: white;
}

#map {
  height: 100%;
}

#map input::placeholder {
  text-align: center;
  color: grey;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 180px;
}

#destination-input {
  left: 0 !important;
  top: 40px !important;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: orangered;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

  background-image: none !important;
  height: 0px;
}

#mode-selector{
  display: none;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}

@media only screen and (min-width: 1200px) { body { width: 95%; } }


/*
Font awesome styling*/


.fa-bus{
  color: #EDAD3B;
}

.fa-map-marker{
  color: #BB3C2C;

}

.fa-map-marker-orange{
  color: #EDAD3B;
}