<% include header %>
<main>

    <div class="wrapper">
        <img src="/img/aanmelden.png" class="enter">
        <h3>Inloggen met mijn account</h3>





        <form class="forman aanm-form">
            <img src="/img/sloticoon.png" class="slotic">
            <img src="/img/accicoon.png" class="accicoon">


            <label for="gbruik"></label>
            <input type="text" name="gebruiker" id="gebruiker" placeholder="Gebruikersnaam" required />


            <label for="wachtwoord"></label>
            <input name="password"  type="password" id="w8w" placeholder="Wachtwoord" required />



            <a href="/opties"><input name="Aanmelden"  type="button" value="Aanmelden" id="aanmel" action="#" method="POST"></a>

        </form>




    </div>



</main>
