<h1>zoek doorkomende lijnen in uw gemeente van De Lijn</h1>

<form method="post" action="/doorkomendeLijnen">
    <input type="number" name="halteId" value="">

    <input type="submit" value="zoek doorkomende lijn">
</form>

<%- doorkomendeLijnenDisplay %>
