<h1>zoek lijnen in uw gemeente of stad</h1>

<form method="post" action="/gemeentelijnen">
    <input type="text" name="lijnnummer" value="">
    <input type="submit" value="zoek lijnnummer">
</form>

<%- lijnnummerdisplay %>
