<% include header%>

<h1>Informatie over deze halte</h1>

<form method="post" action="/halteinformatie">
    <input type="number" name="halteinfo" value="">

    <input type="submit" value="zoek halteinfo">
</form>

<%- halteInfoDisplay %>

<% include footer%>