<% include header %>
<main>

  <div class="wrapper">
    <a href="/opties"><img src="/img/delijn-logo.png" class="delijn-logo"></a>
    <img src="/img/haltes-bg.png" class="enter">

    <form class="halte-form">

      <div class="halte-grid">

        <img src="/img/zoek-icon.png" class="zoek-icon">
        <div class="halte-item naam">
            <label for="haltes"></label>
            <input type="text" name="lijnen" placeholder="Naam halte" required />
        </div>

        <div class="halte-item zoeken">
              <a href="/berekenhalte"><input name="haltezoeken" type="button" value="Halte zoeken" action="#" method="POST"></a>
        </div>

      </div>

     </form>

  </div>
