<h1>Informatie over deze halte</h1>

<form method="post" action="/halteinformatie">
    <input type="text" name="halteinfo" value="">

    <input type="submit" value="zoek halteinfo">
</form>

<%- halteInfoDisplay %>
