<% include header%>
<main>
    <div class="wrapper">
        <img src="/img/frontlogo.png" class="enter">
        <form class="log">
            <a href="/registreer">
                <input name="Registreren"  type="button" value="Registreren" id="regi"  method="POST"></a>

            <a href="/aanmelden">
                <input name="Aanmelden"  type="button" value="Aanmelden" id="aanminlog" action="#" method="POST"></a>
        </form>




    </div>



</main>
<% include footer%>