<h1>zoek verkooppunten in uw gemeente van De Lijn</h1>

<form method="post" action="/verkooppunten">
  <input type="text" name="verkoopstad" value="">
  <input type="submit" value="zoek verkooppunt">
</form>


<h1>zoek lijnen in uw gemeente of stad</h1>

<form method="post" action="/gemeentelijnen">
  <input type="number" name="lijnnummer" value="">
  <input type="submit" value="zoek lijnnummer">
</form>
