<% include header %>
<main>

  <div class="wrapper">
    <img src="/img/optiescherm.png" class="enter">

    <div class="optie-grid">

      <a href="/routeplanner"><div class="optie-item routeplanner">
        <img src="/img/routeplanner-icon.png">
        <p>routeplanner</p>
      </div></a>

      <a href="/haltes"><div class="optie-item haltes">
        <img src="/img/haltes-icon.png">
        <p>haltes</p>
      </div></a>

      <a href="/lijnen"><div class="optie-item lijnen">
        <img src="/img/lijnen-icon.png">
        <p>lijnen</p>
      </div></a>

      <a href="/verkooppunten"><div class="optie-item verkooppunten">
        <img src="/img/verkooppunten-icon.png">
        <p>verkooppunten</p>
      </div></a>

    </div>
  </div>
