<% include header%>

<h1>zoek verkooppunten in uw gemeente van De Lijn</h1>

<form method="post" action="/verkooppunten">
  <input type="text" name="verkoopstad" value="">

  <input type="submit" value="zoek verkooppunt">
</form>

<%- verkoopDisplay %>

<% include footer%>