<% include header %>
<main>

  <div class="wrapper">
    <a href="/opties"><img src="/img/delijn-logo.png" class="delijn-logo"></a>
    <img src="/img/verkooppunten-bg.png" class="enter">

    <form class="verkooppunt-form">

      <div class="verkooppunt-grid">

        <img src="/img/zoek-icon.png" class="zoek-icon">
        <div class="verkooppunt-item naam">
            <label for="verkooppunten"></label>
            <input type="text" name="verkooppunten" placeholder="Verkooppunt" required />
        </div>

        <div class="verkooppunt-item zoeken">
              <a href="/zoekverkooppunt"><input name="verkooppuntzoeken" type="button" value="Verkooppunt zoeken" action="#" method="POST"></a>
        </div>

      </div>

     </form>
  </div>
