<% include header%>

<h1>zoek haltes</h1>

<form method="post" action="/zoekenHaltes">
    <input type="text" name="zoekHalte" value="">
    <input type="submit" value="zoek halte">
</form>

<%- zoekenHaltesDisplay %>


<% include footer%>