<% include header %>
<main class="berekenhaltemain">

  <div class="wrapperhalte">
    <a href="/opties"><img src="/img/delijn-logo.png" class="delijn-logo"></a>
    <img src="/img/haltes-bg.png" class="enter">


    <div class="berekenhalte-grid-results">
    <%- zoekenHaltesDisplay %>
    </div>

  </div>
</main>

<% include footer%>