<% include header %>
<main>

    <div class="wrapper">
  <img src="/img/gebruiker.png" class="enter">
  <h3>Mijn account aanmaken</h3>





        <form class="regi-form">
          <img src="/img/sloticoon.png" class="slotic">
          <img src="/img/accicoon.png" class="accicoon">
          <img src="/img/mailicoon.png" class="mailicoon">

                  <label for="gbruik"></label>
                  <input type="text" name="gebruiker" id="gebruiker" placeholder="Gebruikersnaam" required />


                  <label for="wachtwoord"></label>
                  <input name="password"  type="password" id="w8w" placeholder="Wachtwoord" required />


                  <label for="email"></label>
                  <input type="email" name="email" id="mail" placeholder="E-mail adres"required />

                    <a href="/aanmelden"><input name="Aanmelden"  type="button" value="Aanmelden" id="aanm" action="#" method="POST"></a>

             </form>




  </div>



</main>
