<% include header %>
<main class="zoeklijnmain">

  <div class="wrapperlijnen">
    <a href="/opties"><img src="/img/delijn-logo.png" class="delijn-logo"></a>
    <img src="/img/lijnen-bg.png" class="enter"></div>

    <div class="zoeklijn-grid-results">
        <%- doorkomendeLijnenDisplay %>
    </div>

  </div>
</main>


