<% include header %>
<main>

  <div class="wrapperverkoop">
    <a href="/opties"><img src="/img/delijn-logo.png" class="delijn-logo"></a>
    <img src="/img/verkooppunten-bg.png" class="enter">

      <div class="verkooppunt-grid-results">
      <%- verkoopDisplay %>
      </div>

  </div>



</main>