<html>
<head>
    <title>API De Lijn</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANei25NjrFtcGjBVWgTbXyR-xOUU4_YGY&callback=initMap">
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>