<% include header%>

<h1>zoek doorkomende lijnen in uw gemeente van De Lijn</h1>

<form method="post" action="/vertrekkendeLijnen">
    <input type="number" name="halteId" value="">

    <input type="submit" value="zoek vertrekkende lijn">
</form>

<%- vertrekkendeLijnenDisplay %>

<% include footer%>